# Add colors to terminal
setenv CLICOLOR yes
setenv LSCOLORS ExGxFxdxCxegedabagExEx

# Increase size of bash history
set history = 5000

# Change prompt
# export PS1="\n\[\e[0;36m\]┌─[\[\e[0m\]\[\e[1;33m\]\u\[\e[0m\]\[\e[1;36m\] @ \[\e[0m\]\[\e[1;33m\]\h\[\e[0m\]\[\e[0;36m\]]─[\[\e[0m\]\[\e[1;34m\]\w\[\e[0m\]\[\e[0;36m\]]\[\e[0;36m\]─[\[\e[0m\]\[\e[0;31m\]\!\[\e[0m\]\[\e[0;36m\]]\[\e[0m\]\n\[\e[0;36m\]└─[\[\e[0m\]\[\e[1;37m\]\$\[\e[0m\]\[\e[0;36m\]]› \[\e[0m\]"

# Colors!
set   black="%{\033[1;30m%}"
set     red="%{\033[1;31m%}"
set   green="%{\033[0;32m%}"
set  yellow="%{\033[1;33m%}"
set    blue="%{\033[1;34m%}"
set magenta="%{\033[1;35m%}"
set    cyan="%{\033[1;36m%}"
set   white="%{\033[0;37m%}"
set     end="%{\033[0m%}"

set prompt="${green}%n${blue}@%m ${white}%~ ${green}%%${end} "
set prompt="[${green}%n${blue}@%m ${white}%~ ]${end} "

unset red green yellow blue magenta cyan yellow white end

# default add color to ls
# G - colorized output
# F - Visual Classification of Files With Special Characters
# a - show hidden files/folders
# l - list format
alias ls 'pwd && \ls -GFalh'
alias sl ls

# The 'ls' family
# Add colors for filetype and human-readable sizes by default on 'ls':
alias lk ls -lSr    # Sort by size, biggest last
alias lt ls -ltr    # Sort by date, most recent last
alias lc ls -ltcr   # Sort by/show change time, most recent last
alias lu ls -ltur   # Sort by/show access time, most recent last
alias lr ls -R      # Recursive ls
alias la \ls -A     # Show hidden files
alias ll \ls -l     # List
alias l. ls -d .*   # Only show hidden files
alias lp ls -p      # Show folders

# add to grep: color, line numbers, context of 1 line
alias grep grep --color -n -B 1

# a couple misc/simple commands
alias c clear
alias h history
alias cd.. cd ..
alias .. cd ..
alias vi vim

# safe file operations
alias cp cp -i
alias mv mv -i
alias rm rm -i
alias mkdir mkdir -p

# prety-print of PATH variable

# go back x directories

# make and cd into a directory
alias mcd 'mkdir \!* && cd \!*'

# search for process
alias tm 'ps -ef | grep'

# show which commands you use the most
alias freq 'cut -f1 -d" " ~/.history | sort | uniq -c | sort -nr | head -n 30'

# perform 'ls' after 'cd' if successful
alias cd 'cd \!* && ls'
