# Add colors to terminal
setenv CLICOLOR yes
setenv LSCOLORS ExGxFxdxCxegedabagExEx

# Increase size of bash history
set history = 2500

# default add color to ls
# G - colorized output
# F - Visual Classification of Files With Special Characters
# a - show hidden files/folders
# l - list format
alias ls 'pwd && \ls -GFalh'
alias sl ls

# The 'ls' family
# Add colors for filetype and human-readable sizes by default on 'ls':
alias lk ls -lSr    # Sort by size, biggest last
alias lt ls -ltr    # Sort by date, most recent last
alias lc ls -ltcr   # Sort by/show change time, most recent last
alias lu ls -ltur   # Sort by/show access time, most recent last
alias lr ls -R      # Recursive ls
alias la \ls -A     # Show hidden files
alias ll \ls -l     # List
alias l. ls -d .*   # Only show hidden files
alias lp ls -p      # Show folders

# add to grep: color, line numbers, context of 1 line
alias grep grep --color -n -B 1

# a couple misc/simple commands
alias c clear
alias h history
alias cd.. cd ..
alias .. cd ..
alias vi vim

# safe file operations
alias cp cp -i
alias mv mv -i
alias rm rm -i
alias mkdir mkdir -p

# prety-print of PATH variable

# go back x directories

# make and cd into a directory
alias mcd 'mkdir \!* && cd \!*'

# search for process
alias tm 'ps -ef | grep'

# show which commands you use the most
alias freq 'cut -f1 -d" " ~/.history | sort | uniq -c | sort -nr | head -n 30'

# perform 'ls' after 'cd' if successful
alias cd 'cd \!* && ls'
